@import '../../assets/scss/vars.scss';

.detailscontainer {
    width: 80%;
    margin: auto;
    border: 2px solid $dark-brown;
    margin-bottom: 2rem;
    h1 {
        font-family: $font-secondary;
        font-size: 3rem;
        color: $light-brown;
        margin: 0;
        margin-left: 1rem;
    }
    div {
        display: grid;
        grid-template-columns: 40% 60%;
        width: 100%;
        img {
            width: 85%;
            margin-left: 5%;
            margin-top: 5%;
        }
        article {
            h2 {
                font-family: $font-primary;
                color: $dark-color;
                font-size: 2rem;
                font-weight: 400;
            }
            p {
                font-family: $font-primary;
                color: $light-brown;
                font-size: 1.2rem;
            }
        }
    }
}
.linkcontainer {
    width: 90%;
    text-align: right;
    margin-bottom: 2rem;
    a {
        width: 100%;
        font-family: $font-primary;
        font-size: 1rem;
        background-color: $light-brown;
        border: none;
        padding: 0.5rem;
        color: white;
        text-decoration: none;
    }
}
