@import '../../assets/scss/vars.scss';

.eventcontainer {
    width: 90%;
    margin: auto;
    article {
        width: 100%;
        .headingtitle {
            font-family: $font-secondary;
            font-size: 4rem;
            color: $dark-brown;
            margin: 2rem;
            text-align: end;
            font-weight: 400;
        }
        .eventheader {
            font-size: 4rem;
            color: $light-brown;
            font-family: $font-secondary;
            text-align: end;
        }
        .eventlist {
            width: 100%;
            display: grid;
            gap: 1rem;
        }
    }
}