@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


$dark-color: #30454C;
$dark-brown: #AD7A51;
$light-brown: #D39D5B;

$font-primary: 'Titillium Web';
$font-secondary: 'Playfair Display', serif;